@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Great+Vibes&family=Kaushan+Script&family=Spectral:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --kaushan-script: 'Kaushan Script', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Cabin', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spectral', serif;
}
